---
language: python
services: docker

env:
  global:
    - ROLE_NAME=ansible-role-opendistro
  matrix:
    - MOLECULE_DISTRO=centos7

install:
  # Install test dependencies.
  # - pip install molecule docker
  - pip install 'molecule<3' docker

script:
  # Run tests.
  - molecule test

# notifications:
# webhooks: https://galaxy.ansible.com/api/v1/notifications/
